<table class="table">
      <tbody><tr></tr> 
      <tr>
    	  <th>name</th>
    	  <th>negishi</th>
      </tr>
      <tr>
    	  <th>introduction</th>
    	  <th></th>
      </tr>
</tbody></table>

<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_13215" href="/users/13215/edit"></a>
